[user]
	name = Arthur Rosendahl
	email = arthur.rosendahl@scilifelab.uu.se
	signingkey = key::ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQD4XIGXL2qNmur6QiuJ2mUWxrF9yoaau8oF4/FgNK8+ZsWQ7J3rMgqAW3Zq4oQXeuKcV0TAsjqTIq1ND1N+QSHZ1dWUuZKsu9J8Yo7BbTMKR7LPqCARvwymiJLgPS2PojufxiHL/JrAvepZXkCbt/AjahI50vfzP/9KyzQpn7qhj3vRFhzRLjBt7oJuWzHPU/apjbso6HXM+wnWc3PTBzHyJH70z1D1WRY+1/y/ohKUCyb3iqriQS/quYp6Fsf6n+P3Tw2fKNwDcbYMD5ff1V2p22488OXwHessv+JjFg23GFwECjLpJ9h8Ak7ScF8mIs/UPOwYLCIHrTwQChuISsvQhQkoZBhw9HOafKBVcttiNQIedVRbuTi+tLgp8gnvhemZGBw2wv5P9buxxX5oKgiu6oH2nPz8bawnVjgCSllu1K9P3Mk7214lVraDI2gPrqaQAEbUoAYDf16ijQVLpajPpZ9mQePDfdLq/AgS8Z0gx4gCbXFpRTP7bi5eHNLlLv8= artre200@UU-THVQCF217C

[color]
  ui = auto

[push]
  default = tracking

[alias]
  info = ! git branch && git status -s && git stash list
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/artre200/.ssh/allowed-signers
